*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container{
    background-color: greenyellow;
    height: 100vh;
}

.text-green{
    color: green;
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.styleNone{
    display: none;
}
.styleFlex{
    display: flex;
}

